

# Hide fingerprint data

Blood_data/

Final_test_data/
Fingerprints/
non_fingerprints/

test.py


project_website/static/uploads/

code/.ipynb_checkpoints/
project_website/__pycache__/

project_website/secret-files.json

project_website/models/


