{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="about">
<h1 class="about-us-heading">About Us</h1>
<div class="about-us">
<div class="developer">
    <div></div>
    <h2 class="name pnmr">P.Nagamalleswara Rao</h2>
    <p class="idnum">S190100</p>
    <p class="role">Fullstack Data Scientist</p>
</div>
<div class="developer developer-girl">    
    <div></div>
    <h2 class="name">L.N.V. Sri Jyothi</h2>
    <p class="idnum">S191118</p>
    <p class="role">Deep Learning Engineer</p>
</div>
<div class="developer">
    <div></div>
    <h2 class="name">T.Sandeep</h2>
    <p class="idnum">S190812</p>
    <p class="role">Backend Developer</p>
</div>
<div class="developer">
    <div></div>
    <h2 class="name">A.L.V. Akash</h2>
    <p class="idnum">S190223</p>
    <p class="role">Frontend Developer</p>
</div>

</div>
</div>
{% endblock %}
