{% extends "base.html" %}
{% block title %}Predict Blood Group{% endblock %}
{% block content %}
<div class="predict">
<h1 class="predict_heading">Predict Your Blood Group</h1>
<div class="form-container">
    <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <label for="file" class="form-label">Upload Image</label>
        <input type="file" id="file" class="form-input" name="file" accept="image/*" required>
        <button type="submit" class="form-button">Predict</button>
    </form>

</div>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


<div class="empty">

</div>
</div>
<script src="../static/js/script.js"></script>

{% endblock %}
